anyio==3.2.0
appdirs==1.4.4
async-timeout==3.0.1
certifi==2021.5.30
chardet==4.0.0
cssselect==1.1.0
fake-useragent==0.1.11
filelock==3.0.12
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
httpx-socks==0.4.1
idna==2.10
importlib-metadata==2.1.1
lxml==4.6.3
parse==1.19.0
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
python-socks==1.2.4
requests==2.25.1
requests-file==1.5.1
requests-html==0.10.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
tldextract==3.1.0
tqdm==4.61.1
typing-extensions==3.10.0.0
urllib3==1.26.5
w3lib==1.22.0
websockets==8.1
zipp==3.4.1
